@import '../../../styles/settings.scss';

.menuItem {
    padding: 0 20px;
    margin-top: 10px;
    color: $color-darkGrey;
    flex-direction: row;

    a {
        text-decoration: none;
        color: $color-darkGrey;
        font-size: 14px;
    }

    .menuDot {
        width: 5px;
        height: 5px;
        background-color: $color-blue;
        margin: 0 auto;
        border-radius: 50%;
        margin-top: 5px;
        visibility: hidden;
    }

    &:hover .menuDot {
        visibility: visible;
    }

    &:hover a {
        color: $color-blue;
    }
}