@import '../../../styles/settings.scss';

.footer {
  width: 100vw;
  height: 50px;
  background-color: $black;
  padding: 0px 50px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}