@import '../../../styles/settings.scss';

.container {
  background-color: $main-background;

  .wrapper {
    display: flex;
    padding: 50px 65px;

    .left {
      background-color: $white;
      padding: 20px;
      border-radius: 20px;
      margin-right: 20px;
      box-shadow: 0px 0px 19px -9px rgba(66, 68, 90, 1);

      .offers {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

      }
    }

    .right {
      background-color: white;
      border-radius: 15px;
      padding: 20px;
      height: 620px;
      box-shadow: 0px 0px 19px -9px rgba(66, 68, 90, 1);

      .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;

        a {

          button {
            border: none;
            border-radius: 15px;
            background-color: $black;
            color: $white;
            font-size: 12px;
            padding: 12px;
            box-shadow: 0px 1px 22px -10px rgba(66, 68, 90, 1);
            
            .icon {
              height: 15px;
              width: 15px;
              margin-left: 5px;
            }

            &:hover {
              background-color: $yellow;
            }
          }
        }
      }
    }
  }
}

.modal {
  button {
    background-color: $black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 15px;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

@media (max-width: 992px) {
  .container{
    .wrapper {
      flex-wrap: wrap;
      padding: 50px 20px 50px 35px;
      .right {
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
  }
}