@import '../../../styles/settings.scss';

.container {
  max-width: 100%;
  height: calc(100vh - 120px);
  background-color: $main-background;

  .wrapper {
    padding: 50px;

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      border-radius: 15px;
      margin-bottom: 20px;
      box-shadow: 0px 0px 19px -9px rgba(66, 68, 90, 1);
    }

    .info {
      display: flex;

      .description {
        padding-right: 20px;
        flex: 8; 

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h1 {
            font-size: 30px;
            margin-top: 10px;
          }
    
          a {
    
            button {
              border: none;
              padding: 10px 40px;
              border-radius: 15px;
              background-color: $yellow;
    
              &:hover {
                background-color: $color-darkGrey;
              }
            }
          }
    
          button {
            border: none;
            padding: 10px 40px;
            background-color: red;
            border-radius: 15px;
            margin-left: 10px;
    
            &:hover {
              background-color: $color-darkGrey;
            }
          }
        }

        .address {
          margin-bottom: 10px;
          .icon {
            height: 18px;
          }
        }

        .text {
          h2 {
            font-size: 20px;
            
          }
        }
      }

      .numbers {
        background-color: $white;
        flex: 4;
        border-radius: 15px;
        box-shadow: 0px 0px 19px -9px rgba(66, 68, 90, 1);

        .wrapper {
          padding: 15px;

          span {
            font-size: 12px;
            font-weight: 600;
          }

          .data {
            display: flex;
            justify-content: space-between;
            background-color: $light-grey;
            border-radius: 15px;
            padding: 5px 10px;
            margin: 10px 0px;
      
            .icon {
              width: 20px;
              height: 20px;
            }
      
            span {
              font-size: 12px;
              margin-left: 5px;
            }
          }

          .price {
            font-size: 12px;
            font-weight: 600;
      
            .number {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

// Media queries

@media (max-width: 576px) {
  .container {
    .wrapper {
      padding: 20px;
    }
  }
}

@media (max-width: 368px) {
  .container {
    .wrapper {
      .info {
        flex-direction: column;
        .description {
          padding: 0px;
        }
      }
    }
  }
}
